.photo-list__fav-icon {
  position: relative;
  top: 20px;
  right: -8px;
  cursor: pointer;
  margin-bottom: -30px;
  border-width: 0.1px;
  background-color: var(--fav-button-color);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 100%;
}

.photo-list__fav-icon-svg {
  padding: 7px;
  top: 2px;
}