.topic-list__item {
  cursor: pointer;
  line-height: 24px;
  margin-left: 24px;
}

.topic-list__item span {
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  color: var(--topic-list__item-color);

  &:hover {
    text-decoration: overline;
    color: var(--topic-list_item-hover-color);
  }
}

.selected-item {
  font-weight: 800;
  color: var(--topic-list__item-color);
  font-size: 18px;
}