.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px var(--shadow);
  -moz-box-shadow: 0 4px 6px -6px var(--shadow);
  box-shadow: 0 4px 6px -6px var(--shadow);
  height: 72px;

  .moon {
    color: var(--font-color);
    cursor: pointer;
    font-size: 21px;
  }
}

.top-nav-bar__logo {
  cursor: pointer;
  text-decoration: overline;
  font-weight: 500;
  font-size: 24px;
  color: var(--logo-color);
  text-underline-position: auto;
  margin-left: 24px;
}