$header-background: #282c34;
$app-link-color: #61dafb;
$photo-details-modal-color: white;
$photo-details-modal__header-color: #1e1e1e;
$location-color: #838383;
$photo-list__item-color: lightgray;
$topic-list__item-color: #2b2b2b;
$topic-list_item-hover-color: #111;
$shadow: #222;
$logo-color: #111;

$--header-background: #1e1e1e;
$--app-link-color: #61dafb;
$--photo-details-modal-color: #1e1e1e;
$--photo-details-modal__header-color: white;
$--location-color: #838383;
$--photo-list__item-color: darkgray;
$--topic-list__item-color: #2b2b2b;
$--topic-list_item-hover-color: #111;
$--shadow: #222;
$--logo-color: #fff;